.form {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    &__input {
        font-size: 26px;
        padding: 15px 15px 15px 20px;
        width: 100%;
        height: 60px;
    }
    &__addTaskBtn {
        margin-right: 15px;
        white-space: nowrap;
    }
}